.Cta{
    width: 80vw;
    position: relative;
    margin: 0 auto;
    margin-bottom:  100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Cta div{
    margin: 20px 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 200px;
}

.Cta div img{
    width: 60px;
}

.Cta div h3,.Cta div p{
    padding: 7px 0;
    text-align: center;
}