.FoodProduct{
    /* width: 100vw; */
    min-width: calc(100vw - 100%);

    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.FoodProduct > div{
    width: 82vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.FoodProduct > div > div:nth-child(1){
    background-color: var(--blue);
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    min-width: 250px;
}

.FoodProduct > div > div:nth-child(1) h2{
    color: white;
    margin-top: 60px;
}

.FoodProduct > div > div:nth-child(1) p{
    color: white;
    margin-top: 10px;
    width: 75%;
    text-align: center;
}

.FoodProduct > div > div:nth-child(2){
    flex:1;
    margin-left: 10px;
}

.FoodProduct > div div:nth-child(2) h2{
    width: 100%;
    height: 60px;
    background-color: var(--gold);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FoodProduct > div div:nth-child(2) div{
    margin-top: 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}

@media only screen and (max-width: 1000px) {

    .FoodProduct > div div:nth-child(2) div{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 900px) {

    .FoodProduct > div div:nth-child(2) div{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 786px) {
    .FoodProduct > div div:nth-child(2) div{
        grid-template-columns: auto auto auto;
    }
    .FoodProduct > div{
        flex-direction: column;
    }

    .FoodProduct > div > div:nth-child(1){
        background-color: var(--blue);
        width: 82vw;
        height: 200px;
        align-items: center;
        border-radius: 20px;
        justify-content: center;
        margin-bottom: 15px;
    }
    .FoodProduct > div > div:nth-child(1) h2{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 580px) {
    .FoodProduct > div div:nth-child(2) div{
        grid-template-columns: auto auto;
    }
}