.logoDiv {
    height: 80px;
    /* width: calc(100vw - 100%); */
    display: flex;
    justify-content: center;
    min-width: calc( 100vw - 100% );

}

.logoDiv section{
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons{
    width: 138px;
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(14%) sepia(92%) saturate(2534%) hue-rotate(206deg) brightness(93%) contrast(107%);
}

.icons img:hover{
    filter: invert(77%) sepia(8%) saturate(2863%) hue-rotate(351deg) brightness(107%) contrast(103%);
}

.logoDiv section button{
    height: 38px;
    width: 8vw;
    min-width: 90px;
    border-radius: 50px;
    border: 1px solid var(--blue);
    background-color: #fff;
    color: var(--blue);
    cursor: pointer;
}

.logoDiv section button:hover{
    height: 38px;
    width: 8vw;
    border-radius: 50px;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: #fff;
}

.nav{
    height: 48px;
    min-width: calc( 100vw - 100% );
    /* width: 99vw; */
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul{
    display: flex;
    /* width: 26vw; */
    justify-content: space-between;
}

.nav li{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    padding: 9px;
}

.nav li .p{
    color: #fff !important;
    margin-left: 10px;
    font-weight: 300;
}

.nav li:hover{
    color: var(--gold);
}

.modal{
    background-color: rgb(54, 54, 54);
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 19.1%;
    left: 48%;
}



.modal .h3{
    color: white !important;
    text-align: center;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 100%;
    min-width: 360px;
    width: 37.6vw;
    max-width: 515px;
    max-height: 80px;
}

@media only screen and (max-width: 500px) {
    .logoDiv section > div:nth-child(1){
        display: none;
    }

    .logoDiv section > div:nth-child(3){
        display: none;
    }

    .logoDiv section > div:nth-child(2){
        justify-content: center;
    }

    .logoDiv section{
        justify-content: center;
    }
}